*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  background-color: $pure-black;
  padding: $pad-medium;
}

.main-container{
  max-width: 140rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}